{% extends 'layout.html' %}

{% block body %}
{% include 'includes/_another_header.html' %}
    <section_1 id="main">
         <div class="page_news_list main_page">
             <div class="main_page_text">
                <div class="fareastctf_h1">
                   <h1><span>FAREAST</span><span>CTF</span></h1>
                </div>
                <p>Первая на Дальнем Востоке<br>площадка для проведения чемпионатов<br>по компьютерной безопасности</p>
             </div>
         </div>   
    </section_1> 
    
   <section_about>
        <div class="about">
            <h1>Кто мы такие?</h1>
            <h1>Красавчики мы! Страница в разработке :)</h1>
        </div>
    </section_about>

    



{% endblock %}